*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}

header{
    padding: 2rem;
    text-align: center;
    font-size: 1.125rem;
    border-bottom: 1px solid rgb(26, 25, 25);
}

h1,h2{
font-family: "Lora",sans-serif;
font-weight: 400;
}

.feature,.Catalógo,.cta{
    padding: 2rem;
    text-align: center;
    font-size: 1.125rem;
}

h1{
    font-size: 3.5rem;
    margin: 1rem;
}
h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.cta-button{
    background-color: #030308;
    border-radius: 45px;
    color: #fff;
    display: block;
    width: fit-content;
    text-decoration: none;
    margin: 2rem auto;
    padding: 1rem 1.5rem;
}

.generos > li{
    display: inline-block;
    margin-top: 2rem;
}
.genero > a {
  background-color: #43abf6;
  color: #fff;
  border-radius: 45px;
  padding: 1rem 1.5rem;
  text-decoration: none;

}
.see-more > a{
    display: inline-block;
    margin: auto;
    background-color: rgb(22, 21, 21);
    color: aliceblue;
    border-radius: 45px;
    padding: 1rem 1.5rem;
    margin: 2rem auto;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    align-items: center;
    text-align: center;
}
img{
    display: block;
    width: 500px;
    height: 400px;
    margin: auto;
    align-items: center;
}



footer {
    background-color:rgb(22, 21, 21);
    font-family: "Lore",sans-serif;
    color: #fff;
    padding: 2rem;    
    text-align: center;
}